p {
  color: #9898bb;
  display: block;
  text-align: center;
}
* {
  font-family: 'Noto Sans KR', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  color: #9898bb;
  display: block;
  text-align: center;
}
